
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before { content: "\e600"; }
.icon-zhaopinshezhi:before { content: "\e601"; }
.icon-fabu:before { content: "\e602"; }
.icon-xiazaiwancheng:before { content: "\e603"; }
.icon-shanchu:before { content: "\e604"; }
.icon-shezhi:before { content: "\e605"; }
.icon-baojifuben:before { content: "\e606"; }
.icon-xiala:before { content: "\e607"; }
.icon-fabu1:before { content: "\e608"; }
.icon-geren:before { content: "\e609"; }
.icon-shaixuan:before { content: "\e60a"; }
.icon-yuanbao:before { content: "\e60b"; }
.icon-huzhubao:before { content: "\e60c"; }
